.btn-light {
  outline: none;
  border: none;
  background: none;
  color: var(--color-grey);
  font-weight: 350 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
