.btn {
  outline: none;
  border: none;
  background: none;
  transition: background-color 0.5s;

  &--primary {
    background: var(--color-black);
    color: var(--color-white);
    padding: 1.3rem 2.6rem;
    border-radius: 50rem;
  }

  &--light {
    color: var(--color-grey);
  }

  &--disabled {
    background: #212529cc;
    pointer-events: none;
    cursor: not-allowed;
  }
}
