@font-face {
  font-family: 'Stolzl';
  font-weight: 100;
  src: local('Stolzl'), url('./stolzl_thin.otf') format('opentype');
}

@font-face {
  font-family: 'Stolzl';
  font-weight: 300;
  src: local('Stolzl'), url('./stolzl_light.otf') format('opentype');
}

@font-face {
  font-family: 'Stolzl';
  font-weight: 350;
  src: local('Stolzl'), url('./stolzl_book.otf') format('opentype');
}

@font-face {
  font-family: 'Stolzl';
  font-weight: 400;
  src: local('Stolzl'), url('./stolzl_regular.otf') format('opentype');
}

@font-face {
  font-family: 'Stolzl';
  font-weight: 500;
  src: local('Stolzl'), url('./stolzl_medium.otf') format('opentype');
}

@font-face {
  font-family: 'Stolzl';
  font-weight: 700;
  src: local('Stolzl'), url('./stolzl_bold.otf') format('opentype');
}
