@import '../../assets/css/mixins.scss';

.onboarding-container {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.onboarding {
  width: 100vw;
  padding: 2rem 2.7rem;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    gap: 3rem;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__input {
    margin-top: 1.5rem;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    align-self: end;
    gap: 2rem;
  }

  &__title {
    font-weight: 500 !important;
  }

  &__desc {
    font-weight: 350 !important;
  }

  .btn {
    &--primary {
      width: 100%;
      @include h2;
    }

    &--light {
      @include h3;
      position: relative;
    }
  }

  &__img {
    height: 20.7rem;
    width: auto;
    margin-top: auto;
  }

  &__desc {
    color: var(--color-grey);
    font-weight: 400;
    @include h2;
  }
}
