.progress-dots {
  display: flex;
  gap: 0.8rem;

  .progress-dot {
    width: 0.6rem;
    height: 0.6rem;
    background-color: #f5f5f5;
    border-radius: 50%;

    &--active {
      background: var(--color-black);
    }
  }
}
