.progress-dots {
  display: flex;
  gap: 0.8rem;

  .progress-dot {
    width: 0.8rem;
    height: 0.8rem;
    background-color: var(--color-gray-light);
    border-radius: 50rem;

    &--active {
      width: 1.6rem;
      background: var(--color-black);
    }
  }
}
