@import './assets/fonts/fonts.scss';
@import './assets/css/mixins.scss';

:root {
  --fz-h1: 1.8rem;
  --fz-h2: 1.6rem;
  --fz-h3: 1.4rem;

  // --lh-h1: 1.92rem;
  // --lh-h2: 1.68rem;
  // --lh-h3: 1.44rem;

  --color-white: #ffffff;
  --color-black: #1c1c1e;
  --color-grey: #8c8c8c;
  --color-gray-light: #c8c8c8;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Stolzl', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

#root {
  height: 100%;
}
