.slider {
  display: flex;
  flex-wrap: nowrap;
  padding: 1.6rem 2.2rem;

  gap: 1rem;

  &--wide {
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    .slider__btn {
      flex-grow: 0;
    }
  }

  .slider__btn {
    background-color: transparent;
    flex-grow: 1;
    border: none;
    outline: solid 1px;
    outline-color: #f5f5f5;
    color: var(--color-black);
    padding: 0.6rem 1.5rem;
    transition: all 1s;

    &--active {
      outline-color: var(--color-black);
    }
  }
}
